{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" class="bg-white p-4 rounded shadow" style="width: 300px;">
        <h2 class="text-center">Login</h2>
        <p class="notification text-danger">Please check your email and confirm your email address to log in.</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <hr>
    <div class="text-center">
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark btn-block mt-3">Login with GitHub</a>
        <a href="{% url 'social:begin' 'discord' %}" class="btn btn-primary btn-block mt-3">Login with Discord</a>
    </div>
</div>
{% endblock %}
