{% extends 'base.html' %}

{% block content %}
<h1>Лента</h1>
<a href="{% url 'create_post' %}" class="btn btn-primary">Создать пост</a>

<hr>

{% for post in posts %}
<div>
    <p><a href="{% url 'profile' username=post.author.username %}">{{ post.author.username }}</a>: {{ post.content }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Изображение к посту" style="width: 100%; max-width: 600px;">
    {% else %}
        <img src="https://res.cloudinary.com/dkyeh8rik/image/upload/t_Resice/v1721581129/avatar_rwagqe.jpg" alt="Default avatar" class="img-fluid">
    {% endif %}
    <p>Опубликовано: {{ post.created_at|date:"d M Y H:i" }}</p>
    <p>Теги: 
        {% for tag in post.posttag_set.all %}
            <span class="badge badge-secondary">{{ tag.tag.name }}</span>
        {% endfor %}
    </p>
    <p>Likes: {{ post.likes_count }} | Dislikes: {{ post.dislikes_count }}</p>
    <a href="{% url 'like_post' post.id %}">Like</a>
    <a href="{% url 'dislike_post' post.id %}">Dislike</a>
    {% if request.user.is_authenticated and post.author != request.user %}
        {% if post.author.id in following %}
            <a href="{% url 'unfollow_user' username=post.author.username %}" class="btn btn-warning">Отписаться</a>
        {% else %}
            <a href="{% url 'follow_user' username=post.author.username %}" class="btn btn-primary">Подписаться</a>
        {% endif %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}
